@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #632ee3;
    --color-secondary: teal;
}

.text-primary-gradient {
    background: linear-gradient(to right, #2563eb, #9333ea, #db2777);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

a.active {
    @apply text-primary font-bold;
}

.btn-primary {
    background-image: linear-gradient(to bottom right, #632ee3, #9f62f2) !important;
    color: white !important;
    border: none !important;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-image: linear-gradient(to bottom right, #7642e9, #b27af5) !important;
    transform: translateY(-1px);
}

.btn-primary:active {
    background-image: linear-gradient(to bottom right, #5121c7, #8c4de4) !important;
    transform: scale(0.97);
}
